<h1>welcome to <i class="fas fa-book"></i>Bookers!!</h1>
<h4>
  <br>In Bookers,</br>
  <br>you can share and exchange your opinions,inpressions,and emotions</br>
  about various books!
</h4>
<div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= button_to "Login", new_user_session_path, class: "btn btn-success w-25" %>
          <br>
          <%= link_to "Signup", new_user_registration_path, class: "btn btn-info w-25" %>
        </div>
</div>